ENV=dev
PG_HOST=postgres
PG_DATABASE=postgres
PG_USER=postgres
PG_PASSWORD=postgres
AWS_ACCESS_KEY_ID=admin
AWS_SECRET_ACCESS_KEY=admin
S3_ENDPOINT=http://minio:9000
ICEBERG_REST_URI=http://iceberg-rest:8181
AWS_REGION=us-east-1