# PostgreSQL
PG_HOST=postgres
PG_DATABASE=postgres
PG_USER=postgres
PG_PASSWORD=postgres

# ClickHouse
CLICKHOUSE_HOST=clickhouse
CLICKHOUSE_PORT=8123
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=default
